$duration : 0.3s;
$color : #006eff;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  background-image : none;
  background-color: whitesmoke;

}




.categories{
text-align: center;
}

.card{
  display: inline-block;
  margin:10px;
  position: relative;
  max-width: 370px;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
  transition: box-shadow $duration;
  overflow: hidden;
  width: 370px;

    a{
      color:inherit;
      text-decoration: none;
    }


    &:hover{
      box-shadow: 0px 0px 50px rgba(0,0,0,0.3);
    }


    .card__thumb{
      height: 235px;
      background-color: #000;
      overflow: hidden;
      transition: height $duration;

      img{
        width: 100%;
        height: 100%;
        display: block;
        opacity: 1;
        transition: opacity $duration, transform $duration;
        transform: scale(1);
        object-fit: cover;
      }
    }

    &:hover .card__thumb{
      height: 90px;
    }

    &:hover .card__thumb img{
      opacity: 0.6;
      transform: scale(1.2);
    }

   .card__body{
     position: relative;
     padding: 20px;
     height: 75px;
     text-align: center;
     transition: height $duration;


    &__category{
      position: absolute;
      height: 25px;
      padding: 0 15px;
      color: white;
      font-size: 11px;
      line-height: 25px;
      text-transform: uppercase;
      background-color: $color;
      left: 0;
      top:-25px;
    }

    &__title{
      margin: 0;
      font-size: 22px;
      color: #000;
      font-weight: bold;
    }


    &__description{
      padding-top:15px;
      color:#666c74;
      font-size: 14px;
      line-height: 27px;
      opacity: 0;
      transition: opacity $duration;
      margin-bottom: 10px;
    }

    &__detail{
      border: 2px solid #006eff;
      border-radius: 5px;
      padding: 5px;
      font-size: 12px;
      transition: .4s;
    }

    &__detail:hover{
      background-color: rgba(0,0,0,.4);
      color:#fff;
    }

   }

   &:hover .card__body{
     height: 75px + 145px;
   }

   &:hover .card__body__description{
     opacity: 1;
   }

}
