* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1400px;
}


body{
  background-image: none;
  background-color: whitesmoke;
}

.item{

  h1{
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
  }

  p{
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }

  img{
    display: block;
    margin: 20px auto;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }


  .button{
    text-align: center;
    display: block;
    width: 60%;
    margin: 20px auto;
    padding: 20px;

    text-decoration: none;
    text-transform: uppercase;
    color:#000;

    transition: .4s;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);

    &:hover{
      background-color: #000;
      color:#fff;
    }
  }



}
