//<div class='reservation'>
//<p>Reservé par $user->nom  de :</p>
//<div class='left'>$jourDebutEnString $heureDebut h</div>
//<p class='a'>à</p>
//</div class='right'>$jourFinEnString $heureFin h</div>

//<a style='color:red' href='#'>Detail</a>
//</div>

body{
  background-image: none;
  background-color: whitesmoke;
}


section{
  margin: 0;
  padding: 30px 0;
  text-align: center;
}

.reservation{
  display: inline-block;
  position: relative;
  margin: 20px;
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
  width: 80%;
  height: 100px;

  .left{
    border: 1px solid red;
    display: inline-block;
    width: 120px;
  }

  .right{
    border: 1px solid red;
    display: inline-block;
    width: 120px;
  }

  a{
    position: absolute;
    top:0;
    right: 0;
    height: 100%;
    line-height: 100px;
    vertical-align: top;
    background-color: red;
    padding: 0 5px;
    color:#fff;
    transition: all .4s;

    &:hover{
      background-color: #9c0001;
    }
  }

}