

body{
    background-image: none !important;
    background-color: whitesmoke !important;
}

ul{
    width: 100%;
    display: flex;

    justify-content: center;
}

.bts{
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}

li{
    padding: 10px;
    border: 1px solid #333;
    width: 200px;
    list-style: none;
    text-align: center;
    margin-right: 20px;
}

li:hover{
    background-color: rgba(0,0,0,0.1);
}

h1{
    position: relative;
    text-align: center;
    top: 10%;
    transform: translateY(-10%);
}

li:last-child{
    margin: 0;
}

.bts form{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.bts form input[type="submit"]{
    border: 1px solid #333;
    padding: 10px;
    background-color: transparent;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-left: none;
    cursor: pointer;
}

.bts form select{
    border: none;
    background-color: rgba(0,0,0,0.1);
    border: 1px solid #333;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding: 5px;
}









