table{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-collapse: collapse;

}
body{
    background-image: none !important;
    background-color: whitesmoke !important;
}
td, th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid black;
    padding: 10px;
}

tbody tr:hover{
    background: rgba(0,0,0,0.1);
}

tbody tr td a{
    color: black;
    border: 1px solid black;
    padding: 5px;
    border-radius: 2px;
}

tbody tr td a:last-child{
    background-color: red;
}

tbody tr td a:first-child{
    background-color: green;
}
