.box{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 200px;
    width: 400px;
    transform: translate(-50%,-50%);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);

}

body{
    background-image: none !important;
    background-color: whitesmoke !important;
}

form{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input{
    width: 60%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #333;
}
input:first-child{
    margin-bottom: 10px;
}
input[type="submit"]{
    padding: 5px;
    margin-top: 10px;
    cursor: pointer;
}