
body{
    background-image: none !important;
    background-color: whitesmoke !important;
}

table{
    display: block;
    border-collapse: collapse;
    width: 80%;
}




td, th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid black;
    padding: 10px;
}

tbody tr:hover{
    background: rgba(0,0,0,0.1);
}

tbody tr td a{
    color: black;
    border: 1px solid black;
    padding: 5px;
    border-radius: 2px;
}

tbody tr td a:last-child{
    background-color: red;
}

tbody tr td a:first-child{
    background-color: green;
}

h1{
    margin-bottom: 10px;
}

.tab1{
    margin-bottom: 100px;
}
