* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  background-image: none;
  background-color: whitesmoke; }

.categories {
  text-align: center; }

.card {
  display: inline-block;
  margin: 10px;
  position: relative;
  max-width: 370px;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s;
  overflow: hidden;
  width: 370px; }
  .card a {
    color: inherit;
    text-decoration: none; }
  .card:hover {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3); }
  .card .card__thumb {
    height: 235px;
    background-color: #000;
    overflow: hidden;
    transition: height 0.3s; }
    .card .card__thumb img {
      width: 100%;
      height: 100%;
      display: block;
      opacity: 1;
      transition: opacity 0.3s, transform 0.3s;
      transform: scale(1);
      object-fit: cover; }
  .card:hover .card__thumb {
    height: 90px; }
  .card:hover .card__thumb img {
    opacity: 0.6;
    transform: scale(1.2); }
  .card .card__body {
    position: relative;
    padding: 20px;
    height: 75px;
    text-align: center;
    transition: height 0.3s; }
    .card .card__body__category {
      position: absolute;
      height: 25px;
      padding: 0 15px;
      color: white;
      font-size: 11px;
      line-height: 25px;
      text-transform: uppercase;
      background-color: #006eff;
      left: 0;
      top: -25px; }
    .card .card__body__title {
      margin: 0;
      font-size: 22px;
      color: #000;
      font-weight: bold; }
    .card .card__body__description {
      padding-top: 15px;
      color: #666c74;
      font-size: 14px;
      line-height: 27px;
      opacity: 0;
      transition: opacity 0.3s;
      margin-bottom: 10px; }
    .card .card__body__detail {
      border: 2px solid #006eff;
      border-radius: 5px;
      padding: 5px;
      font-size: 12px;
      transition: .4s; }
    .card .card__body__detail:hover {
      background-color: rgba(0, 0, 0, 0.4);
      color: #fff; }
  .card:hover .card__body {
    height: 220px; }
  .card:hover .card__body__description {
    opacity: 1; }

/*# sourceMappingURL=categorie.css.map */
