* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: none;
  background-color: whitesmoke; }

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1400px; }

section {
  padding: 10px 0; }

.titre {
  text-align: center; }
  .titre h1 {
    font-family: Arial;
    text-transform: uppercase;
    font-size: 40px; }
  .titre p {
    width: 60%;
    margin: 0 auto;
    padding: 20px 0;
    color: black; }

.items {
  text-align: center; }
  .items .item {
    display: inline-block;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    margin: 10px; }
    .items .item img {
      width: 200px;
      height: 200px;
      object-fit: cover; }
    .items .item p {
      padding: 10px 0;
      color: #000;
      background-color: #fff; }

/*# sourceMappingURL=categorieDetail.css.map */
