

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color:white;
}


.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 970px; }



html, body{
  min-height: 100%;
    height: auto;
    position: relative;
}


header, section{
  position: relative;
}

.errors{
    width: 100%;
    background-color: red;
    height: 30px;
    color: rgba(240,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: -10px;
    margin-bottom: 20px;
}


.errors .p_error{
    color: white;

}

.success{
    width: 100%;
    background-color: green;
    height: 30px;
    color: rgba(240,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: -10px;
    margin-bottom: 20px;
}

.success .p_success{
    color: white;

}