header{
  height: 60px;
  line-height: 60px;
  background-color: rgba(0,0,0,0.6);
  z-index: 9999;
  width: 100%;
  text-transform: uppercase;
}

header nav {
  position: absolute;
  right: 0;
}
header nav a {
  padding: 0 40px;
  height: 100%;
}

header #logo {
  position: absolute;
  left: 40px;
  /*width: 150px;*/
  text-align: center;
  color: white;
  font-size: 30px;
}

header #logo p{
  display: inline-block;
}

header #logo .header-img {
  width: 30px;
  height: 100%;

  /* border: 1px solid red; */
  display: inline-block;
}

header nav a.btn_inscription{
  border-left: 1px solid white;
  display: inline-block;
}

header nav a.btn_connexion{
  padding: 0 40px;
  background-color: #BF0404;
  display: inline-block;
}


header #user {
  width: 220px;
  display: inline-block;
  color: white;
  height: 40px;
  text-align: center;
  z-index: 9999;
  position: relative;
}

header #user #username {
  z-index: 9999;
  position: relative;
}

header #user #username p {
  background-color: #1B3E59;
  z-index: 9999;
}



header #sous-menu{
  position: fixed;
  background-color: red;
  transform: translateY(-130%);
  transition: all .4s;
  z-index: -1;
  right:0;
  width: 220px;
}

header nav #user:hover #sous-menu {
  transform: translateY(0);
}

header #user #sous-menu a
{
  display: block;
  transition: all .4s;
}

header #user #sous-menu a:hover
{
  background-color: #730202;
}


@media all and (max-width:500px){
  header #logo {
    display: none;
  }

  header #sous-menu{
    width: 100%;
  }

  nav{
    width: 100%;
  }

  header #user {
    width: 100%;
  }


}
