@import url('https://fonts.googleapis.com/css?family=Teko');


section{
  padding: 100px 0;
}




img{
  width: 100%;
}


.red{
  color:red;
}

/* Section */

body{
  background: url('../img/bg.png');
  background-size: cover;
  background-position: center;
  height: 100%;
}

#main {
  height: 100%;
  color:white;
  z-index: 8888;
  text-transform: uppercase;
}

#main .main-content{
  text-align: center;
  width: 100%;
  position: absolute;
  top:55%;
  transform: translateY(-50%);

}

#main .main-content h1{
  position: relative;
  top:-20px;
}


#main .main-content h1, #main .main-content h1 > span {
  font-family: Teko, sans-serif;
  text-transform: uppercase;
  font-style: italic;
  font-size: 13vw;
  line-height: 7.8vw;
  text-shadow: 0 0 33px rgba(25, 61, 23, 0.4);
  text-align: center;
}
#main .main-content h3 {
  font-weight: 100;
  text-shadow: 1px 1px 1px black;
  margin-bottom: 60px;
  font-size: 65px;
  font-family: skinny, sans-serif;
}
#main .main-content h3 span{
font-family: skinny, sans-serif;
  text-transform:lowercase;
  color: #BF0404;
}

#main .main-content a {
  padding: 15px 0;
  margin: 10px;
  width: 180px;
  display: inline-block;
  border: 1px solid white;
}

#main .main-content .btn-main{
   background:#1B3E59;
   border: 1px solid #1B3E59;
}


#main::after{
  content: "";
  display: block;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: -30px;
  background: url('../images/vague11.png') no-repeat;
  background-size: 100% 100%;
  text-align: center;
  z-index: 9999;
}
/*
#presentation::after{
  background: url('../images/vague11b.png') no-repeat;
  background-size: 100% 100%;
  text-align: center;
  z-index: 7777;
}*/

#presentation{
  background-color: #1B3E59;
  color:#fff;
}

#presentation img{
  width: 100%;
}


#end-presentation{
  background-color: #1B3E59;
  color:#F2F0F0;
}





.img-container{
  text-align: center;
  padding: 35px;
}

.text-container {
  text-align: center;
  position: relative;
  top:50%;
  transform: translateY(-50%);
}

.text-container h3 {
  margin-bottom: 40px;
  font-size: 27px;
}

.text-container p {
  padding: 0 30px;
}



@media all and (max-width:500px){
  .container {
    width: 100%;
  }

  .text-container{
    transform: none;
    padding: 20px 0;
  }
}
