.all{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

ul{
    width: 60%;
    list-style: none;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

h1  {
    text-align: center;
    margin-top: 20px;
}

a.a{
    color: black;
    width: 100%;

    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    padding: 10px 30%;
}