body {
  background-image: none;
  background-color: whitesmoke; }

section {
  margin: 0;
  padding: 30px 0;
  text-align: center; }

.reservation {
  display: inline-block;
  position: relative;
  margin: 20px;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.75);
  width: 80%;
  height: 100px; }
  .reservation .left {
    border: 1px solid red;
    display: inline-block;
    width: 120px; }
  .reservation .right {
    border: 1px solid red;
    display: inline-block;
    width: 120px; }
  .reservation a {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    line-height: 100px;
    vertical-align: top;
    background-color: red;
    padding: 0 5px;
    color: #fff;
    transition: all .4s; }
    .reservation a:hover {
      background-color: #9c0001; }

/*# sourceMappingURL=planning.css.map */
