* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: whitesmoke;
  background-image: none; }

h1 {
  text-align: center;
  color: red;
  padding: 50px 0; }

form {
  text-align: center; }
  form .form_element {
    width: 80%;
    height: 40px;
    margin: 10px auto; }
    form .form_element label {
      width: 50%;
      display: inline-block; }
    form .form_element select {
      display: inline-block;
      width: 50%;
      height: 100%; }
  form input[type="submit"] {
    margin-top: 10px;
    display: inline-block;
    background-color: white;
    border: 1px solid gray;
    padding: 10px 20px;
    color: black;
    text-transform: uppercase;
    transition: .4s; }
    form input[type="submit"]:hover {
      background-color: black;
      color: #fff; }

/*# sourceMappingURL=reservation.css.map */
