#users {
  background-color: whitesmoke;
  min-height: 100%; }

#users h1 {
  text-align: center;
  font-size: 40px;
  padding: 30px 0;
  position: relative;
  text-transform: uppercase;
  color: #000; }

#users h3 {
  text-align: center;
  color: #fff; }

#users h1:after {
  position: absolute;
  content: '';
  display: block;
  width: 70%;
  height: 2px;
  background-color: red;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%); }

#users ul {
  list-style: none;
  text-align: center;
  padding-top: 40px;
  width: 80%;
  margin: 0 auto; }

#users ul li {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  padding: 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px 0;
  color: #000;
  background-color: #fff;
  transition: .4s;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.75); }
  #users ul li img {
    width: 20%; }

/*# sourceMappingURL=users.css.map */
